@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?vjwj6i');
  src:  url('../fonts/icomoon.eot?vjwj6i#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?vjwj6i') format('truetype'),
    url('../fonts/icomoon.woff?vjwj6i') format('woff'),
    url('../fonts/icomoon.svg?vjwj6i#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dribbble:before {
  content: "\e900";
}
.icon-search:before {
  content: "\f002";
}
.icon-envelope-o:before {
  content: "\f003";
}
.icon-file-o:before {
  content: "\f016";
}
.icon-map-marker:before {
  content: "\f041";
}
.icon-calendar:before {
  content: "\f073";
}
.icon-chevron-down:before {
  content: "\f078";
}
.icon-comments:before {
  content: "\f086";
}
.icon-phone:before {
  content: "\f095";
}
.icon-twitter:before {
  content: "\f099";
}
.icon-facebook:before {
  content: "\f09a";
}
.icon-facebook-f:before {
  content: "\f09a";
}
